<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETL Pipeline Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'selector'
        }
    </script>
</head>

<body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 p-5">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold mb-5">ETL Pipeline Dashboard</h1>

        <div class="mb-8 flex flex-col items-center">
            <form id="credsForm" action="/details" method="post" class="flex w-full max-w-3xl">
                <div class="main-left flex-1 p-4 border-solid border-r items-center justify-center">
                    <h3 class="text-lg">MongoDB Credentials</h3>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="mongoUser" placeholder="User" required>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="mongoPassword" placeholder="Password" type="password" required>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="mongoHost" placeholder="Host" required>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="mongoDatabase" placeholder="Database" required>
                </div>
        
                <div class="main-right flex-1 p-4">
                    <h3 class="text-lg mt-4">Redshift Credentials</h3>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="redshiftUser" placeholder="User" required>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="redshiftPassword" placeholder="Password" type="password" required>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="redshiftHost" placeholder="Host" required>
                    <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md"
                        name="redshiftDatabase" placeholder="Database" required>
                </div>
            </form>
            
            <button class="bg-blue-500 dark:bg-blue-700 text-white p-2 mt-3 w-1/4" type="submit">Save Credentials</button>
        </div>
        

        <div class="mb-8">
            <h2 class="text-2xl mb-3">Scheduler Settings</h2>
            <form id="schedulerForm">
                <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md" type="number"
                    id="ingestFrequency" placeholder="Ingest Frequency (min)" required />
                <input class="border p-2 mb-2 w-full dark:border-gray-600 dark:bg-gray-600 rounded-md" type="number"
                    id="loadFrequency" placeholder="Load Frequency (min)" required />
                <button class="bg-blue-500 dark:bg-blue-700 text-white p-2 mt-3" type="submit">Update
                    Scheduler</button>
            </form>
        </div>

        <div>
            <h2 class="text-2xl mb-3">Data Flow</h2>
            <ul id="dataFlowList" class="list-disc pl-5"></ul>
        </div>

        <div>
            <button id="toggleDarkMode" class="fixed top-4 right-4 p-2 bg-gray-800 text-white rounded">Toggle Dark
                Mode</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('toggleDarkMode').addEventListener('click', () => {
                document.body.classList.toggle('dark');
                console.log('Dark mode toggled');
            });
        });
    </script>
</body>

</html>